pip==23.2.1
fastapi
uvicorn
transformers
openai
textract
pytesseract
pdf2image
pillow
jinja2
torch
torchvision
torchaudio
python-multipart
langchain
langchain-openai
langchain-core
python-dotenv
awscli
llama-parse
datasets
accelerate
PyPDF2
scikit-learn
gunicorn