fastapi
uvicorn
transformers
jinja2
openai
pytesseract
pdf2image
python-docx
pillow
torch
torchvision
torchaudio
python-multipart
langchain
langchain-openai
langchain-core
python-dotenv
awscli
llama-parse
datasets
accelerate
PyPDF2
scikit-learn
nltk
sagemaker
gunicorn